body {
    font-family: 'Montserrat', sans-serif;
}


::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 3px;
    height: 0px
}
::-webkit-scrollbar-track {
    background-color: #fff
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 100px;
    background-color: grey;
}
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}
::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}
::-webkit-scrollbar {
    width: 4px;
}
